{% extends 'travel/layout.html' %}

{% load static %}

{% block head %}
    <title>Home | TrainsNBuses</title>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock head %}

{% block body %}
    <section class="section first-section" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('{% static 'img/plane3.12.jpg'%}');">
        <div class="container">
            <div class="search-flight">
                <div class="container">
                    <h1>Bus</h1>
                <form class="search-flight-form" action="{% url 'bus' %}" onsubmit="return bus_search()">
                    <div class="align-items-center">
                        <div class="search-flight-form-data">
                            <div class="input-row" style="display: flex;">
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                <input type="radio" class="form-check-input bus-trip-type" id="bus-one-way" name="BusTripType" value="1" checked>One-way
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                <input type="radio" class="form-check-input bus-trip-type" id="bus-round-trip" name="BusTripType" value="2" {% if bus_trip_type == '2' %}checked{% endif %}>Round Trip
                                </label>
                            </div>
                            </div>
                            <div class="input-row">
                                <label for="bus-from">From: </label>
                                <input type="text" name="Origin" placeholder="From" id="bus-from" class="form-control mr-sm-3" onblur="hideplaces(this)" data-value="{{origin | lower}}" data-list="places_from" autocomplete="off" value="{{origin | upper}}">  <!--list="places_from"-->
                                <div id="places_from" class="places_box">
                                    <div class="each_places_from_list places__list" data-value="ABS" onclick="selectplace(this)">Kualalampur</div>
                                    <div class="each_places_from_list places__list" data-value="JBS" onclick="selectplace(this)">Johor baru</div>
                                    
                                </div>
                            </div>
                            <div class="input-row">
                                <label for="bus_to">To: </label>
                                <input type="text" name="Destination" placeholder="To" id="bus-to" class="form-control mr-sm-3" onblur="hideplaces(this)" data-value="{{destination | lower}}" data-list="places_to" autocomplete="off" value="{{destination | upper}}">
                                <div id="places_to" class="places_box">
                                    <div class="each_places_from_list places__list" data-value="ABS" onclick="selectplace(this)">Kualalampur</div>
                                    <div class="each_places_from_list places__list" data-value="JBS" onclick="selectplace(this)">Johor baru</div>
                                    
                                </div>
                            </div>
                            <div class="input-row">
                                <label for="bus_depart_date">Departure Date: </label>
                                <input type="date" name="DepartDate" min="{{min_date}}" max="{{max_date}}" id="bus_depart_date" placeholder="Date" class="form-control mr-sm-2" value="{{depart_date}}">
                            </div>
                            <div class="input-row">
                                <label for="bus_return_date">Return Date: </label>
                                <input type="date" name="ReturnDate" min="{{min_date}}" max="{{max_date}}" id="bus_return_date" placeholder="Date" class="form-control mr-sm-2" value="{{return_date}}" {% if bus_trip_type != '2' %} disabled {% endif %}>
                            </div>
                            <div class="input-row">
                                <label for="seat_class">Class: </label>
                                <select name="SeatClass" id="SeatType" class="form-control mr-sm-2 selectpicker">
                                    <option value="economy" {% if seat == 'economy' %}selected{% endif %}>Economy</option>
                                    <option value="business" {% if seat == 'business' %}selected{% endif %}>Business</option>
                                    <option value="first" {% if seat == 'first' %}selected{% endif %}>First</option>
                                </select>
                            </div>
                            <div class="input-row">
                                <button type="submit" class="btn btn-danger">Search Bus</button>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
        <div class= "container">
        <div class="search-flight">
            <div class="container">
                <h1>Train</h1>
            <form class="search-flight-form" action="{% url 'train' %}" onsubmit="return train_search()">
                <div class="align-items-center">
                    <div class="search-flight-form-data">
                        <div class="input-row" style="display: flex;">
                        <div class="form-check-inline">
                            <label class="form-check-label">
                            <input type="radio" class="form-check-input train-trip-type" id="train-one-way" name="TrainTripType" value="1" checked>One-way
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                            <input type="radio" class="form-check-input train-trip-type" id="train-round-trip" name="TrainTripType" value="2" {% if train_trip_type == '2' %}checked{% endif %}>Round Trip
                            </label>
                        </div>
                        </div>
                        <div class="input-row">
                            <label for="train-from">From: </label>
                            <input type="text" name="Origin" placeholder="From" id="train-from" class="form-control mr-sm-3" onblur="hideplaces(this)" data-value="{{origin | lower}}" data-list="places_from" autocomplete="off" value="{{origin | upper}}">  <!--list="places_from"-->
                            <div id="places_from" class="places_box">
                                <div class="each_places_to_list places__list" data-value="XXX" onclick="selectplace(this)">XXX</div>
                                <div class="each_places_to_list places__list" data-value="YYY" onclick="selectplace(this)">YYY</div>
                                    
                            </div>
                        </div>
                        <div class="input-row">
                            <label for="train_to">To: </label>
                            <input type="text" name="Destination" placeholder="To" id="train-to" class="form-control mr-sm-3" onblur="hideplaces(this)" data-value="{{destination | lower}}" data-list="places_to" autocomplete="off" value="{{destination | upper}}">
                            <div id="places_to" class="places_box">
                                <div class="each_places_to_list places__list" data-value="XXX" onclick="selectplace(this)">XXX</div>
                                <div class="each_places_to_list places__list" data-value="YYY" onclick="selectplace(this)">YYY</div>
                                    
                            </div>
                        </div>
                        <div class="input-row">
                            <label for="train_depart_date">Departure Date: </label>
                            <input type="date" name="DepartDate" min="{{min_date}}" max="{{max_date}}" id="train_depart_date" placeholder="Date" class="form-control mr-sm-2" value="{{depart_date}}">
                        </div>
                        <div class="input-row">
                            <label for="train_return_date">Return Date: </label>
                            <input type="date" name="ReturnDate" min="{{min_date}}" max="{{max_date}}" id="train_return_date" placeholder="Date" class="form-control mr-sm-2" value="{{return_date}}" {% if train_trip_type != '2' %} disabled {% endif %}>
                        </div>
                        <div class="input-row">
                            <label for="seat_class">Class: </label>
                            <select name="SeatClass" id="SeatType" class="form-control mr-sm-2 selectpicker">
                                <option value="economy" {% if seat == 'economy' %}selected{% endif %}>Economy</option>
                                <option value="business" {% if seat == 'business' %}selected{% endif %}>Business</option>
                                <option value="first" {% if seat == 'first' %}selected{% endif %}>First</option>
                            </select>
                        </div>
                        <div class="input-row">
                            <button type="submit" class="btn btn-danger">Search Train</button>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>
        </div>
    </section>
    <section class="section second-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h2>Popular Destination</h2>
                    </div>
                </div>
            </div>
            <div class="row popular_destinations">
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination" onclick="window.location.href = 'https://en.wikipedia.org/wiki/Tourism_in_Italy'">
                        <div class="thumb">
                            <img src="{% static 'img/destination/1.png' %}" alt="">
                        </div>
                        <div class="content">
                            <a href="#">Italy</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination" onclick="window.location.href = 'https://en.wikipedia.org/wiki/Tourism_in_Brazil'">
                        <div class="thumb">
                            <img src="{% static 'img/destination/2.png' %}" alt="">
                        </div>
                        <div class="content">
                            <a href="#">Brazil</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination" onclick="window.location.href = 'https://en.wikipedia.org/wiki/Tourism_in_the_United_States'">
                        <div class="thumb">
                            <img src="{% static 'img/destination/3.png' %}" alt="">
                        </div>
                        <div class="content">
                            <a href="#">America</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination" onclick="window.location.href = 'https://en.wikipedia.org/wiki/Tourism_in_Nepal'">
                        <div class="thumb">
                            <img src="{% static 'img/destination/4.png' %}" alt="">
                        </div>
                        <div class="content">
                            <a href="#">Nepal</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination" onclick="window.location.href = 'https://en.wikipedia.org/wiki/Tourism_in_the_Maldives'">
                        <div class="thumb">
                            <img src="{% static 'img/destination/5.png' %}" alt="">
                        </div>
                        <div class="content">
                            <a href="#">Maldives</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination" onclick="window.location.href = 'https://en.wikipedia.org/wiki/Tourism_in_Indonesia'">
                        <div class="thumb">
                            <img src="{% static 'img/destination/6.png' %}" alt="">
                        </div>
                        <div class="content">
                            <a href="#">Indonesia</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock%}